body {
  font-family: "Arial","Meiryo",sans-serif;
}
body {
  font-size: 20px;
}
 .text-blue{
  color: aqua;
 }
 .text-pink{
  color: rgb(255, 192, 203);
 }
 .google-fonts{
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }
 h1 {
  font-size: 2em;
 }
 h1 {
  font-family: sans-serif;
 }
h1 {
  letter-spacing: 1.2em;
}
h1 {
  text-shadow: 1px 1px 2px grey;
}
h1 {
  border-bottom: solid 3px rgb(115 115 114);
}
body {
  text-align: center;
}
#basic>p{
  font-weight: bold;
}
